<h1>Listing indices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Details</th>
    <th>Vreme</th>
  </tr>

<% @indices.each do |index| %>
  <tr>
    <td><%=h index.name %></td>
    <td><%=h index.email %></td>
    <td><%=h index.details %></td>
    <td><%=h index.vreme %></td>
    <td><%= link_to 'Show', index %></td>
    <td><%= link_to 'Edit', edit_index_path(index) %></td>
    <td><%= link_to 'Destroy', index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New index', new_index_path %>